html {
  color: rgb(35, 33, 31);
  font-size: clamp(1rem, 2vw, 1.5rem);
}

* {
  margin: 0;
  padding: 0;
}

.git_logo > a > img {
  height: 4vh;
  width: auto;
}

header {
  position: sticky;
  top: 0px;
  left: 0px;
  background: #fff8f0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.scroll {
  font-family: "Jost", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: clamp(0.5rem, 2vw, 1rem);
}

.intro {
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

.intro > p {
  margin: 0px;
}

.align {
  text-align: center;
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: clamp(0.5rem, 2vw, 1.5rem);
}

.about {
  background: #f7ebdd;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}

.exit > hr {
  position: relative;
  margin: auto;
  width: 96%;
}

.name,
.message {
  margin-bottom: 0px;
  text-align: center;
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: clamp(3rem, 10vw, 8rem);
}

.info {
  margin: 0px;
}

footer {
  position: sticky;
  top: 0;
  background: #1e201e;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.exit {
  margin-left: 8vw;
  margin-right: 8vw;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.exit > ul {
  padding-top: 2rem;
  display: flex;
  gap: 7vw;
  justify-content: center;
}

.exit > ul > li {
  list-style: none;
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: clamp(0.8rem, 0.8vw, 1rem);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.rights {
  color: #afafaf;
  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: clamp(0.5rem, 0.8vw, 1rem);
}

.exit > ul > li > a {
  text-decoration: none;
  color: #afafaf;
}

.exit > ul > li > a:hover {
  text-decoration: none;
  color: #717170;
  font-size: 0.83rem;
}

@media (max-width: 960px) {
  .exit > .message {
    padding-bottom: 15px;
  }
  .exit > ul > li {
    font-size: 0.5rem;
  }
}
