html {
    background-color: #F5F5F5;
    font-family: "Montserrat", sans-serif;
}
hr{
    width: 96%;
    height: 1px;
    background-color: #1A1A1D;
}
span {
    color: midnightblue;
}
header {
    color: #1A1A1D;
    width: 100%;
    font-weight: 200;
    font-size: 2rem;
}
.left {

    display: inline-block;
    position: relative;
    margin: 15px 50px;
    color:#4f4f4f ;
}
.right {
    position: absolute;
    display: inline-block;
    width: 62%;
    margin: 14px 0px;
    color: #4f4f4f;
    background-color: #e4e4e4;
    padding: 10px 40px;
}

.bottom{
    position: relative;
    margin: 10px;
}
footer{
    position: absolute;
    width: 100%;
    left: 0%;
    background-color: #1A1A1D;
    color: #F5F5F5;
    font-size: 12px;
    text-align: center;
    padding: 20px 0px 20px 0px;
}
.no_decoration{
    text-decoration: none;
    color: midnightblue;
}
.left2 {
    position: absolute;
    display: inline-block;
    width: 40%;
    margin-top: 45px;
    margin-left: 30px;
    background-color: #e4e4e4;
    padding: 40px 40px;
}
.drawings, .middle{
    display: inline-block;
    position: relative;
    left: 33%;
    margin: 20px;
}
